[Unit]
Description=IRBridge

[Service]
Type=simple
Restart=always
RestartSec=30
WorkingDirectory=/opt/IRBridge
ExecStart=/opt/IRBridge/remote client ws://host:port/subscribe/client_uuid
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
